.booking{
  background: url("../images/bg1.svg") center/cover no-repeat;
  height: 656px;
  padding: 112px 64px;
  position: relative;

  &__loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    z-index: 99;
  }

  &__title{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    text-align: left;
    /* or 125% */
    margin-bottom: 34px;


    color: #fff;
  }

  &__subtitle{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    font-weight: bold;

    /* or 160% */

    color: #fff;
  }

  &__form{
    width: 100%;
    height: 80px;
    background-color: #fff;
    margin-top: 68px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
  }

  &__label{
    display: block;
  }

  &__el{
    width: 20%;
    padding: 18px ;
    text-align: left;
    display: flex;
    border-right: 1px solid #00000015;
  }

  &__el:first-child {
    padding-left: 30px;
  }

    &__el:nth-child(4) {
    border-right: 0;

  }

    &__input{
    border: none;
    //border-bottom: 1px solid #00000020;
    outline: none;
    width: 120px;
  }

  &__el:last-child{
    //background-color: lightskyblue;
    position: relative;
  }
  
  &__btn{
    color: #fff;
    background-color: #24AB70;
    border: none;
    height: 80px;
    border-radius: 280px;
    width: 120%;
    position: absolute;
    bottom: 0;
    right: -20px;
    cursor: pointer;
  }

  &__btn:hover {
    background-color: #1ba2ab;
  }


  &__icon{
    height: 24px;
    margin-right: 8px;
  }

  &__people-forms{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    margin-top: 10px;
    margin-left: 650px;
    justify-content: left;
    flex-direction: column;
    //background-color: lightskyblue;
    //overflow-x: scroll;
    overflow-y: scroll;
    height: 300px;
    width: 320px;


  }

  &__people-add{
    //height: 180px;
    width: 320px;
    background-color: #fff;
    padding: 20px;
    //border-radius: 5px;
    //margin-left: 660px;
    //margin-top: 2px;
    margin-right: 5px;
    border: 1px solid #00000060;
    border-top: none;
    border-bottom: none;
    position: relative;
}

  &__room-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__room-title{
    text-align: left;
    margin-bottom: 10px;
  }

  &__remove-room-btn{
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
    margin-top: -20px;
  }

  &__people-input{
    width: 40px;
    //border:  none;
    outline: none;
    border: none;
    border-top: 1px solid #00000030;
    border-bottom: 1px solid #00000030;
    padding-left: 15px;
    height: 30px;


  }
  &__people-input:last-child {
    margin-left: 10px;
    border: 1px solid #00000030;
  }

  &__child-input{
    width: 160px;
    margin-bottom: 10px;
    border: 1px solid #00000030;
  }

    &__inputs-div{
    display: flex;
  }

  &__room-btns{
    display: flex;
    justify-content: start;
    margin-top: 10px;
  }

  &__add-room--btn{
    width: 48%;
    height: 30px;
    border-radius: 2px;
    margin-top: 10px;
    border: 1px solid #0fab60;
    background-color: transparent;
    color: #0fab60;
    font-size: 10px;
    outline: none;
    margin-right: 10px;
  }

  &__room-ready-btn{
    width: 90%;
    height: 30px;
    color: #fff;
    border-radius: 2px;
    border: none;
    background-color: #0fab60;
    margin-top: 10px;
    outline: none;
    margin: auto;

  }
  
  &__add-btn{

    width: 100%;

  }

  &__people-input-div{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
  }

  &__people-label{
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__empty-result{
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    //text-align: left;
  }

  &__close-people-btn{
    position: absolute;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    top: 10px
  }

  &__add-adult-block{
    display: flex;
  }

  &__adult-btn{
    width: 30px;
    border: none;
    background-color: #11ab5b;
    color: #fff;
    cursor: pointer;


  }

  &__main-child-div{
    display: flex;
    border: 1px solid #3789ab;
    border-radius: 5px;
    width: 100px;
    justify-content: space-between;
    margin-right: 15px;
    margin-bottom: 5px;
    padding:  5px 10px;
    background-color: #357cfa10;


  }

  &__main-child-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #3789ab;
  }

  &__added-clildren{
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    flex-wrap: wrap;


  }

  &__adult-label{
    font-weight: bold;

  }

  &__child-label{
    text-align: left;
    margin: 20px 0 5px 0;
    font-weight: bold;
  }
  &__sec-select{
    margin-bottom: 5px;
  }
  
  &__rooms{
    background: #FFF;
    padding: 20px 0;
    width: 320px;
  }

  &__room{
    padding: 20px;
    border: 1px solid #00000020;
    text-align: left;
    background-color: #357cfa10;
    position: relative;
    width: 90%;
    margin:10px  auto;
    border-radius: 5px;
  }

  &__rooms-title{
    text-align: left;
    margin-left: 20px;
    font-weight: bold;
  }

  &__room-num{
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__remove-room-btn{
    position: absolute;
    top: 30px;
    right: 10px;
    border: none;
    background-color: transparent;
    color: red;
    width: 20px;
    height: 20px;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0;
  }


  }

input{
}