.hotels{
  position: relative;
  &__main{
    display: flex;
    position: relative;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }

  &__form{
    width: 100%;
    margin: 50px auto 40px;
    height: 80px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    //background-color: lightcoral;
  }

  &__el:last-child{
    border-right: none;
    //background-color: lightskyblue;
  }

  &__btn{
    height: 80px;
    margin: 0 20px 0 0;
    background-color: #11ab5b20;
    color: #000;
  }
  &__open-filters-btn{
    width: 70%;
    height: 30px;
    background-color: #357cfa30;
    border: 1px solid #1b81e6;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-bottom: -100px;
    display: inline-block;
    margin-left: 0;
    margin-top: 20px;
  }

  &__btn:hover {
    background-color: #11ab5b20;
  }

    &__filters{
    width: 25%;
    height: 100vh;
    padding: 10px ;
    background-color: #fff;
    //display: none;
  }

  &__filters-small{
    width: 100%;
    padding: 10px ;
    background-color: #fff;
    position: absolute;
    top: 0;
    //transform: translate(-50%, -50%);
    z-index: 99;
    height: 600px;
    overflow-y: scroll;
  }

  &__cards{
    width: 75%;
    padding: 10px  0 0 30px;
    display: flex;
    flex-direction: column;

  }

  &__filter-btn{
    display: none;
    border: 1px solid #00000010;
    padding: 5px 10px;
    height: 40px;
    width: 120px;
    background-color: #8EC5FC20;
    color: #0fab60;
    border-radius: 8px;
    //margin:0 0 10px 120px;
    cursor: pointer;
    //position: absolute;
    //right: 100px;

  }

  &__filter-btn:first-child {
    margin-right: 10px;
  }

  &__filter-btn:last-child {
    width: 250px;
  }

    &__filter-icon{
    margin-left: 10px;
  }

  &__top-section{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }

  &__filter-btns{
    display: flex;

  }

  &__added-filters{
    width: 75%;
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;

  }

  &__added-filters-title{
    margin-top: 5px;
    margin-right: 15px;
  }

  &__added-filter{
    margin-right: 10px;
    padding: 5px 10px;
    height: 40px;
    width: auto;
    background-color: #3789ab20;
    border: 1px solid #1b81e6;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;

  }

  &__delete-filter-btn{
    border: none;
    background-color: transparent;
    margin-left: 10px;
    color: #1b81e6;
    font-weight: bold;
    cursor: pointer;
  }

  &__delete-filter-btn:hover {
    font-size: 18px;
  }
  //
  //&__filter-btn-div{
  //  display: flex;
  //  width: 100%;
  //  justify-content: flex-end;
  //}
  &__added-filters-btn{
    height: 40px;
    width: 300px;
    color: #fff;
    background-color: #0cab60;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

  }

  &__form{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &__people-add{
    border: none;
  }
  &__container{
    position: relative;
  }

  &__people-form{
    z-index: 99;
    margin-left: 800px;
    position: absolute;
    margin-top: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &__empty-result{
    font-size: 16px;
    text-align: left;
    font-style: italic;
    color: #000;
  }

  &__empty-res-div{
    background-color: #1b81e610;
    padding: 15px 20px;
    border-radius: 10px;
  }
  }