.hotelCard{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  //height: 400px;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 10px;
  //position: relative;

  &__top-div{
    display: flex;
    height: 220px;
  }
&__load{
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 2;
  top:30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  &__img{
    //width: 100%;
    //height: 100vh;
    //object-fit: contain;
    //z-index: 99;
    //max-width: 100%;
    //max-height: 100%;
    display: block;
    //float: left;
    //width:  100%;
    //height: 100%;
    //object-fit: cover;
    //background-size: cover;
    height: 300px;
    width: 300px;
    position: relative;
    vertical-align: middle;
    border-style: none;

  }

  &__text-content{
    width: 80%;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }

  &__name-star{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__title{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19.9619px;
    line-height: 30px;
    color: #518EF8;
  }

  &__raiting{
    height: 20px;
}

  &__address{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14.9714px;
    line-height: 17px;
    color: #518EF8;
  }

  &__description{
    margin: 20px 0;
  }

  &__bottom-sec{
    display: flex;
    justify-content: flex-end;
    //margin-top: 50px;
    padding-left: 100px;
  }

  &__more-btn{
    width: 120px;
    height: 30px;
    background-color: #FEE87C;
    border-radius: 2px;
    color: #222222;
    border: none;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  &__img-div{
    background-color: transparent;
    width: 100%;
    height: 100vh;
  }

  &__card-facilities{
    display: flex;
  }

  &__facility{
    display: flex;
    margin-right: 15px;
  }

  &__room-info{
    padding: 5px;
    border: 1px solid #1b81e6;
    border-radius: 2px;
    //width: 100px;
    background-color: #3789ab20;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 5px;
    display: flex;
    font-size: 12px;
    height: 30px;

  }

  &__room-price{
    color: #0fab60;
    margin-left: 20px;
  }

  &__rooms{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0 20px;
  }
}