.hotel{
  &__container{
    text-align: left;
    padding: 40px 0 20px;
    position: relative;
    z-index: 1;

  }
  &__title{
    margin-bottom: 10px;
    font-size: 24px;
  }
  &__address{
    margin-bottom: 10px;

  }
  &__description{}

  &__subtitle{
    text-align: left;
    color: #0fab60;
    margin: 10px 0

  }

  &__facilities{
    width: 30%;
    margin-right: 20px;
    //background-color: lightskyblue;
  }

  &__hotel-list-facilities{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;

  }
  &__room-list-facilities{
    //width: 300%;
    display: flex;
    overflow-x: auto;
    //overflow: hidden;
    //flex-wrap: wrap;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  &__hotel-fac-div{
    flex-shrink: 0;
    display: flex !important;
    margin-right: 5px;
    //margin-right: 20px;
    //height: 40px;
    background-color: rgba(97, 205, 250, 0.08);
    font-weight: 550;
    border-radius: 2px;
    padding:5px 15px;
    align-items: center;
    //align-content: center;
    //height: 60px;
    border: 1px solid #1b81e650;
    margin-bottom: 5px;
    font-size: 12px;
    /* Created with https://www.css-gradient.com */


  }

  &__facility{
    margin-bottom: 8px;
    margin-right: 20px;
  }

  &__link{
    color: #1f98f4;
    text-decoration: none;
  }

  &__container-fac{
    display: flex;
  }

  &__comment-btn{
  color: #357cfa;
    border: none;
    background-color: #5d8cff30;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    margin-left: 120px;
}

  &__img{
    width: 200px;
    height: 150px;
    margin-right: 10px !important;
  }

  &__room-div{
    width: 49%;
    border: 1px solid #00000020;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 30px 20px;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  &__room-title{
    color: #1b81e6;
    margin-bottom: 10px;
  }

  &__room-icon{
    margin-right: 10px;
    margin-bottom: -3px;
  }

  &__room-subtitle{
    font-size: 16px;
    margin: 10px 0 5px;
  }

  &__price{
    color: #0fab60;
  }

  &__room-fac-div{
    display: flex;
    justify-content: left;
    position: relative;
  }

  &__room-fac{
    margin-left: 100px;
  }

  &__room-fac:first-child {
    margin-left: 0;
  }


    &__book-btn{
    width: 200px;
    height: 40px;
    color: #fff;
    background-color: #1dab6e;
    border-radius: 5px;
    border: none;
    font-size: 16px;
      cursor: pointer;
      position: absolute;
      bottom: 20px;
      right: 20px;
  }

  &__time{
    color: #1f98f4;
    margin: 10px 0;
  }

  &__phone-popup{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 300px;
    padding:  40px;
    border-radius: 10px;
    z-index: 99;
    background-color: #fff;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  &__phone-popup-text{
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 2;
  }
  &__phone-popup-input{
    margin: 10px auto;
    margin-left: 20px;

    //width: 100% !important;
  }
  &__phone-popup-btn{
    height: 40px;
    cursor: pointer;
    width: 90%;
    border: 1px solid #00000030;
    outline: none;
    background-color: #1dab6e;
    color: #fff;
    border-radius: 5px;
  }

  &__close-popup-btn{
  position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

  &__thanks-msg{
    font-size: 20px;
    margin-bottom: 16px;
    color: #0fab60;
    font-weight: bold;
  }
  &__phone-popup-subtext{
    margin-bottom: 30px;
  }

  &__content{

  }

  &__facs-room-div{
    display: flex;
    width: 500%;
  }

  &__rooms{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
  }
  }